# Compiled files
__pycache__/
*.py[cod]
*.pickle

# Saved images
images/*
!models/.keep

# Datasets
datasets/*
!datasets/.keep

# Models
models/*
!models/.keep

# Figures
figures/*.png

# Trained networks
networks/*.pt
